<div class="vista">
<h2 class="title">
  Solicitudes
  <div class="actions">
    <button *ngIf="idSolicitante" [routerLink]="'/nuevaSolicitud/'+idSolicitante">agregar</button>
  </div>
</h2>


<div class="content">
  <ap-list-item-solicitud *ngFor="let solicitud of solicitudes"
                          [solicitud]="solicitud"
                          [editable]="editable"
                          (eliminado)="actualiarSolicitudes()"
                          (mostrarsolicitud) = "MostrarSolicitud($event)" ></ap-list-item-solicitud>
</div>
</div>
