<h3 class="title">
  Persona: {{persona.id}}
  <div class="actions">
    <button [routerLink]="'/editarPersona/'+persona.id">editar</button>
    <button (click)="eliminarPersona()">borrar</button>
    <button [routerLink]="'/solicitudes/'+persona.id">Ver solicitudes</button>
  </div>
</h3>
<div class="content">
  <p><label>Nombre:</label>{{persona.nombre}}</p>
  <p><label>Apellido:</label> {{persona.apellido}} </p> 
  <p><label>Dni:</label>{{persona.dni}}</p>
  <p><label>Usuario:</label>{{persona.usuario}}</p>
  <p><label>Contraseña:</label>{{persona.contrasena}}</p>
</div>