<h3 class="title">
  Solicitud: {{solicitud.id}}
  <div class="actions" *ngIf="editable">
    <button [routerLink]="'/editarSolicitud/'+solicitud.id">editar</button>
    <button (click)="eliminarSolicitud()">borrar</button>
  </div>
  <div class="actions" *ngIf="!editable"> 
    <button (click)="atendersolicitud()">atender</button>
  </div>
</h3>
<div class="content">
  <p><label>Institución:</label>{{solicitud.institucionNombre}}</p>
  <p><label>Id Solicitante:</label>{{solicitud.solicitanteId}}</p>
  <p><label>Solicitante:</label> {{solicitud.solicitanteNombre}}</p>
  <p (click)="mostrar()"><label>Estado:</label>{{solicitud.estadoNombre}}</p>
</div>
