<div class = "vista1" style="background-image: url('../../assets/imagenes/cielo.jpg');background-size: contain; ">
  <div style="text-align:center">
    <h1>
      Usuario Nuevo
    </h1>
    <h1>
      
    </h1>
    <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
  </div>
  <div class="texto" >
    
    <div class="opacity">
      <form style="text-align:center"  (submit)="enviarPersona(persona)">
        <p>
          <input type="text" [ngModel]="persona?.nombre" (ngModelChange)="persona.nombre = $event" 
          placeholder="Nombre" name="nombre"/>
        </p>
      
        <p>
          <input type="text" [ngModel]="persona?.apellido" (ngModelChange)="persona.apellido = $event" 
          placeholder="Apellido" name="apellido"/>
        </p>
      
        <p>
          <input type="text" [ngModel]="persona?.dni" (ngModelChange)="persona.dni = $event" 
          placeholder="Dni" name="dni"/>
        </p>
        <p>
          <input type="text" [ngModel]="persona?.usuario" (ngModelChange)="persona.usuario = $event" 
          placeholder="Usuario" name="usuario"/>
        </p>
        <p>
          <input type="text" [ngModel]="persona?.contrasena" (ngModelChange)="persona.contrasena = $event" 
          placeholder="Contraseña" name="contrasena"/>
        </p>
      <p style="text-align: center;">
        <button type="submit">Registrar</button>
        <button type="button" (click)="cancelar()">Cancelar</button>
      </p>
      </form>
    </div>
  </div>
</div>