button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #cfd8dc;
    color:black;
    border: none;
    padding: 12px 20px;
    border-radius: 9px;
    cursor: pointer; cursor: hand;
    font-size: 16px;
    width:140px;
  }
  button:hover {
    color: white;
    background-color:rgb(11, 45, 61) ;
  }
input{
    width:80%;
    padding: 12px 12px;
    margin: 5px 5px;
    display: inline-block;
    border: 1px solid #607D8B;
    border-radius: 9px;
    box-sizing: border-box;
    background-position: 2px 10px; 
    background-repeat: no-repeat;
    color:black;
    font-size: 14px;
}

.texto{
    width:400px;
    height:460px;
    color: white;
    position:relative;
    margin:0 auto;
 }
 .opacity{
    background-color:gray;
    color:white;
    opacity: 0.2;
    width:400px;
    height:460px;
    position:absolute;
    border-radius:6px;
    margin:0 auto;
 }
div h1{
    font-size: 2em;
    color: white;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}
div h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    padding-top: 0;
    color : white;
}
.vista1{
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    border-radius: 4px 4px 4px 4px;
    margin:0 auto;
    text-align: center;
}